#container { border: 3px solid blue;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 20px 100px;

}
.clikk{
    border: 2px dashed red;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis:200px ;
    flex: 1 0 200px;
}
